* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width:460px) and (max-width:759px) {
    .navbar1 {
        top: 0;
        position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    }
    .toto{
        visibility: visible;
        width: 100%
    }
    div#wrap {
        width:460px;
        min-width: 100%;
        max-width: 100%;
        height: auto;
        margin: auto;
        padding-left: 10px;
        background: black;
        margin: 15px 0;
    }

    .nav {
        visibility: hidden;
    }

    section.bloc {
        width: 100vw;
        height: 370px;
        float: left;
        margin-top: 30px;
        box-shadow: 3px 12px 29px 0.01em lightblue;
    }

    section.bloc:nth-child(2) {
        height: 350px;
        padding-top: 60px;
    }

    section.bloc:nth-child(3) {
        height: 618px;
    }

    section.bloc:nth-child(4) {
        height: 650px;
    }

    section.bloc:nth-child(5) {
        height: 350px;
        padding-top: 50px;
    }

    section.bloc:nth-child(6) {
        height: 370px;
    }

    article.rosa {
        background: url(../images/rosa.jpg) 0 0 no-repeat;
        max-width: 100%;
        max-height: 100%;
        width: 48%;
        height: 370px;
        float: left;
        line-height: 370px;
    }

    h2.titre {
        color: white;
        font-size: 100pt;
        line-height: 370px;
    }

    h3 {
        font-size: 30px;
        text-align: center;
    }

    span {
        color: black;
    }

    .line {
        line-height: 370px;
    }

    h2.right {
        text-align: right;
    }

    h2.left {
        text-align: left;
    }

    article.txt {
        width: 50%;
        height: 370px;
        float: left;
    }

    article.bloc1 {
        width: 50%;
        height: 370px;
        float: left;
    }

    article.droite {
        width: 50%;
        height: 370px;
        box-shadow: 2px 0px 60px #CFDDEA;
        float: left;
        padding: 4px;
    }

    article.pin {
        width: 100%;
        height: 370px;
        background: url(../images/pin.jpg) 0 0 no-repeat;
    }

    p {
        padding: 20px;
        line-height: 34px;
    }

    .btn {
        border-radius: 20px;
        border: 1px solid crimson;
        width: 152px;
        height: 37px;
        color: black;
        background: white;
        display: block;
        margin-left: 20px;
        transition: 0.3s;
    }

    a {
        text-decoration: none;
        text-align: center;
        line-height: 37px;
    }

    .btn:hover, a:hover {
        background: crimson;
        color: white;
    }

    .position {
        position: relative; /* Se positionne en haut à gauche de la div parente section.bloc  */
        bottom: 45px;
    }

    article.gauche {
        width: 50%;
        height: 370px;
        float: left;
        box-shadow: 2px 0px 60px #CFDDEA;
        padding: 8px;
    }

    article.noel {
        width: 100%;
        height: 370px;
        background: url(../images/noel.jpg) 0 0 no-repeat;
    }

    article.bloc2 {
        width: 50%;
        height: 370px;
        margin-top: 8px;
        float: left;
        background: url(../images/bloc2.gif) 0 0 no-repeat;
    }

    .centre {
        text-align: center;
    }

    article.phone {
        width: 370px;
        height: 327px;
        float: left;
        background: url(../images/phone.jpg) 0 0 no-repeat;
        text-indent: -9000px;
    }

    p.contact {
        padding-left: 37px;
        margin-top: 50px;
        width: 370px;
        height: 315px;
        line-height: 40px;
        float: left;
    }

    header.pop {
        width: 220px;
        height: 58px;
        line-height: 58px;
        position: relative;
        top: 54px;
        left: 260px;
        z-index: 1;
        background: white;
        box-shadow: 2px 0px 60px #CFDDEA;
    }

    h3.position2 {
        position: absolute; /* la div parente est en position RELATIVE ! */
        margin-left: 10%;
        top: 0;
    }

    .sabuj {
        margin-left: 0;
    }

    footer {
        background: #1F2022;
        width: 100%;
        height: 451px;
        line-height: 60px;
        float: left;
        margin-top: 90px;
    }

    .ombre {
        box-shadow: 3px 12px 29px 0.01em lightblue;
    }

    .bd {

        display: none;
    }

    section.nav {
        width: 250px;
        height: 222px;
        position: fixed;
        top: 10px;
        right: 0; /* sera totalement à droite */
    }

    div.menu {
        width: 30px;
        float: left;
        margin-right: 25px;
    }

    div.menu > li {
        line-height: 2px;
    }

    div.reds {
        background: crimson;
        width: 2px;
        height: 126px;
        float: left;
    }

    ul {
        list-style: none;
    }

    nav {
        width: 168px;
        float: left;
    }

    nav ul li {
        display: block;
        width: 168px;
        text-align: center;
        line-height: 21px;
    }

    nav ul li a {
        text-decoration: none;
        color: black;
        display: block;
    }

    span.us {
        color: crimson;
    }

    .anim {
        animation: haut 1s ease-in 1 forwards;
    }

    footer ul li {
        color: white;
        font-size: 14px;
    }

    footer h3 {
        font-size: 18px;
        color: gray;
        width: 92px;
        margin: 0 0 10px 135px;
        border-bottom: 1px solid red;
    }

    hr {
        display: none;
    }

    .menu-footer, .address-footer {
        display: none;
    }

    .footer-reds1, .footer-reds2 {
        display: none;
    }

    .footer-reds1 {
        display: none;
    }

    .footer-reds2 {
        display: none;
    }

    #menufooter, #addressfooter {
        width: 50%;
        height: 100%;
        line-height: 50px;
        float: left;
        text-align: center;
    }

    /* Popup */
    div.phone {
        width: 450px;
        height: 300px;
        background: url(../images/phone-760.jpg) 0 0 no-repeat;
        margin-bottom: 20px;
        margin-left: 90px;
    }

    .popup{
        position: fixed;
        top: 100vh;
        background: white;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        transition: all 400ms ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .popup:target {
        top: 0;
        padding: 0;
    }

    form {
        text-align: center;
    }

    input, textarea {
        width: 70%;
        border: 1px solid;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    input, input.valider {
        height: 40px;
    }

    input.valider {
        width: 70%;
        background: crimson;
        color: white;
    }

}
